/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #222;
  padding: 20px;
}

.logo h1 {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* Hero section styles */
#hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
project-card {
  width: 100;
  height: 100;
}